<section class="welcome mt-5">
  <h1 class="welcome--title">Welcome to ScraperHub</h1>
  <p class="welcome--content mt-5">
    This is a hub which hosts content I am scraping from multiple different websites.
  </p>
</section>